.Rproj.user
.Ruserdata
_research_project/data/all_muni.dbf
_research_project/data/all_muni.prj
_research_project/data/all_muni.shp
_research_project/data/all_muni.shx
_research_project/all_muni/all_muni.dbf
_research_project/all_muni/all_muni.prj
_research_project/all_muni/all_muni.shp
_research_project/all_muni/all_muni.shx
_research_project/data/all_muni/all_muni.dbf
_research_project/data/all_muni/all_muni.prj
_research_project/data/all_muni/all_muni.shp
_research_project/data/all_muni/all_muni.shx
_research_project/.RData
_research_project/.RDataTmp
